* {
    margin: 0;
    padding: 0;
    color: rgb(234,235,235);
    font-size: 1em;
    font-family: Fredoka;
}
.container {
    width: 100vw;
    height: 100vh;
    min-width: 922px;
    display: flex;
    flex-direction: row;
    background-image: url('img/weather-bg-rain.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Main */
.main {
    flex: 2;
}
.main-content {
    margin: 8% 0% 12% 12%;
    width: 80%;
    height: 80%;
    position: relative;
}
.app-name {
    font-size: 1.2em;
    /* font-family: 'Fredoka One'; */
    font-weight: bolder;
}
.weather-content {
    width: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.weather-degree {
    flex: 1;
    font-size: 10vw;
    margin: 0 5% 0 0;
}
.weather-data {
    flex: 2.5;
    padding: 5% 0;
    margin: 0 5% 0 0;
}
.weather-location {
    font-size: 5vw;
}
.weather-date-time, .weather-condition {
    font-size: 1.5vw;
}
.weather-icon {
    width: 3vw;
}
.weather-desc {
    flex: .5;
    margin: 0 5% 0 0;
    padding: 12% 0;
}
.weather-condition {
    padding: 18.9% 0;
}

/* Side bar */

.sidebar {
    flex: 1;
    background-color: rgba(0, 0, 0, .6);
}
.sidebar-content {
    height: 95%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10%;
    
}
.sidebar-main-content {
    /* flex: 5; */
    padding: 0 10% 0 0;
    display: flex;
    flex-direction: column;
}
.search-section {
    /* flex: 2; */
    display: flex;
    flex-direction: row;
    height: 10%;
}
.search-section>input {
    flex: 5;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    opacity: 0.5;
    border: none;
    border-bottom: 2px solid gray;
    margin: 0 1.5% 0 0;
    padding-top: 10%;
}
.search-section>button {
    flex: 1.2;
    margin: 0 0 0 1.5%;
    border: 0;
    /* For Sunny */
    /* background-color: rgb(0,75,125); */
    /* For cloudy */
    /* background-color: rgb(68,102,140); */
    /* For rainy */
    background-color: rgb(16,50,60);
    /* For snowy */
    /* background-color: rgb(243,243,245); */

}
.search-icon {
    width: 3vh;
}

.relative-locations {
    flex: 4;
    padding: 8% 0;
}
.location-1, .location-2, .location-3, .location-4 {
    padding: 3vh 0;
}
.weather-section {
    flex: 5;
    padding: 5vh 0 0;
}
.weather-details {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}
.weather-details > .condition {
    flex: 5;
    display: flex;
    flex-direction: column;
}
.weather-details > .value {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.condition > span {
    padding: 3vh 0;
}
.value > span {
    padding: 3vh 0;
    text-align: right;
}


